
body{
    background-image: url(../assets/images/bg-repeat.jpg);
    background-repeat: repeat no-repeat ;
    background-size: 40rem 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

    /* max-width: 190rem; por que não centraliza terei que criar uma nova div ou assim está bom?*/   
}

/* ============ CABEÇALHO =================== */
.head{
    max-width: 29.5rem;
}
.description, .title{
    color: #fff;
    margin-bottom: 1.1rem;
}
.title{
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 2rem;
}
.description{
    font-size: 1.5rem;
    line-height: 1.8rem;
}

/* ========== FORMULARIO ============ */
.form{
    background-color: #fff;
    min-width: 34rem;
    max-width: 34rem;
    min-height: 37.8rem;
    padding: 2.1rem;
}
ul{
    height: 100%;
}
input, .area{
    height: 3.5rem;
    border: 0.1rem solid #000000;
    /* color: #A8A8A8; */
    padding: 0.9rem 1rem 0.9rem 1rem;
    font-size: 1.5rem;
    
}
.form ul li{
    margin-top: 1.5rem;
}
.form ul li:last-child{
    margin-bottom: 0.7rem;
}
input, .btn, .area{
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
}
.btn{
    font-weight: 700;
}
input::placeholder, .area::placeholder{
    color: #A8A8A8;
}
#msg{
    height: 10rem;
    resize: none;
}

.form ul li p{
    font-size: 1.5rem;
}

.btn{
    background: #3CCC87;
    height: 4.1rem;
    color: #fff;
    
    border-style: none;
    margin-top: 2rem;
}

@media (min-width: 1400px){
    body{
        margin: 0 15%;
    }
}
@media (min-width: 1900px){
    body{
        margin: 0 22%;
    }
}